* {
    margin: 0%;
    padding: 0%;
    word-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 209px;
    width: 270px;
}

h1 {
    cursor: pointer;
}

.box {
    margin: 2px;
}

.btn {
    padding: 6px 9px;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}